@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #1f2733
    radial-gradient(
      circle farthest-side,
      rgba(255, 0, 183, 0.274),
      rgba(134, 100, 100, 0.048)
    );
}
.head-admin {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.name-title {
  font-size: 28px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}
.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 5%;
  padding-right: 5%;
  font: bold;
  color: black;
}

.inic-list li {
  display: inline-block;
  padding: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font: bold;
  color: white;
  text-decoration: underline 2px;
  font-size: 22px;
}
.link-admin {
  color: white;
  text-decoration: underline 2px;
}
.hamb-menu {
  display: none;
}

.link-a:hover {
  color: rgb(53, 169, 53);
  text-transform: uppercase;
}
.linkS:hover {
  color: rgb(53, 169, 53);
  text-transform: uppercase;
}
.link-b {
  text-decoration: underline 2px;
}
.link-b:hover {
  text-transform: uppercase;
  color: rgb(53, 169, 53);
}
.icon-home,
.icon-register,
.icon-info,
.icon-exit {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-bottom: 4px;
}
.imageRest {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0%;
  opacity: 0.5;
  border-radius: 3px;
}
.nav-container {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 28px;
  text-decoration: underline 2px;
  position: absolute;
  top: 330px;
  left: 15px;
}
.flex {
  display: flex;
  margin-top: 350px;
}
.text {
  text-align: center;
}
.flex1 {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}
.text1 {
  text-align: center;
}
.column {
  background: rgb(238, 230, 230);
  color: white;
  margin: 0rem;
  margin-left: 11vh;
  margin-bottom: 0;
  margin-top: 20vh;
  padding: 2vh;
  border-radius: 20px;
  border-radius: 8px;
}
/*rgb(136, 136, 136,0.1)*/
.icon {
  width: 160px;
  height: 130px;
  color: green;
  padding: 4px;
}
.title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}
.button {
  text-align: center;
  margin-top: 10px;
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 6px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}
.footer-container {
  max-width: 850px;
  max-height: 450px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 28px;
  margin-top: 20px;
  border-radius: 10px;
  color: rgb(53, 169, 53);
  max-width: 90%;
  margin-left: 5%;
}
.column-footer {
  display: flex;
  margin-left: 10px;
  justify-content: space-around;
  margin-bottom: 20px;
}
.emailicon,
.icongithub,
.iconlinkedin {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  color: rgb(138, 137, 137);
  filter: drop-shadow(2px 2px 2px rgb(38, 40, 38));
}
.name-email {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 35px;
  margin-top: -28px;
  color: rgba(224, 223, 223, 0.724);
}
.name-github {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 37px;
  margin-top: -28px;
  color: rgba(224, 223, 223, 0.724);
}
.name-linkedin {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 37px;
  margin-top: -28px;
  color: rgba(224, 223, 223, 0.724);
}
.icon-github {
  margin-left: 25%;
  width: 35px;
  height: 35px;
  color: rgb(138, 137, 137);
  filter: drop-shadow(2px 2px 2px rgb(38, 40, 38));
}
.icon-linkedin {
  margin-left: 45%;
  width: 35px;
  height: 35px;
  color: rgb(138, 137, 137);
  filter: drop-shadow(2px 2px 2px rgb(38, 40, 38));
}
@media (max-width: 768px) {
  .bar-menu,
  .menu-bar {
    padding: 20px 3%;
  }
  .inic-list li {
    padding: 5px;
    text-decoration: none;
  }
  .hamb-menu {
    display: flex;
  }
  .inic-list {
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    cursor: pointer;
    top: 65px;
    left: 0;
    width: 100%;
    height: 290%;
    background-color: #1e1e22b9;
    z-index: 1;
  }
  .link-a:hover,
  .link-admin:hover {
    background-color: aquamarine;
    text-transform: uppercase;
  }
  .menu-icon,
  .close-icon {
    color: white;
    width: 35px;
    height: 35px;
  }
  .inic-list.active {
    display: flex;
  }
  .link-a,
  .link-admin {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  .link-b {
    text-decoration: none;
  }
  .icon-menu,
  .icon-close {
    max-width: 45px;
    max-height: 45px;
  }
  .icon-home,
  .icon-register,
  .icon-exit {
    margin-right: 10px;
  }
  .flex {
    flex-direction: column;
    margin-top: 320px;
  }
  .flex1 {
    flex-direction: column;
    margin-top: 25px;
  }
  .column {
    background-color: transparent;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 3px;
    max-width: 100vh;
    margin-inline: 4vh;
    min-width: 100px;
  }
  .icon {
    margin-inline: 0;
    margin-left: 20vw;
    width: 50%;
  }

  .title {
    font-size: 16px;
  }

  .button {
    font-size: 16px;
    width: 80%;
    margin-inline: 8vw;
  }
  .column-footer {
    flex-direction: column;
    align-items: center;
  }

  .name-email,
  .name-github,
  .name-linkedin {
    margin-left: 0;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
  }
  .icongithub,
  .iconlinkedin,
  .emailicon {
    display: inline-block;
    align-items: center;
    max-width: 35px;
    max-height: 35px;
  }
}
@media (min-width: 768px) {
  .column {
    background: transparent;
    color: white;
    border: 1.3px solid #333;
    margin: 0 auto;
    margin-top: 0vh;
    padding: 2vh;
    border-radius: 20px;
    border-radius: 8px;
    max-width: 80%;
  }
  .imageRest {
    width: 100%;
  }
  .icon {
    width: 160px;
    height: 130px;
    margin-inline: 20px;
    border-radius: 20px;
    padding: 1px;
    filter: drop-shadow(3px 3px 3px #373c85);
  }
  .title {
    font-size: 20px;
  }
  .button {
    font-size: 18px;
  }
}
